<div ngIf="!isClientLoggedIn && !isCompanyLoggedIn">
<header class="main-header" nz-row nzType="flex">
  <div class="header-content">
    <h2 class="header-title">Service Booking System</h2>
    <nav class="nav-links">
      <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
  </div>
</header>
</div>

<!-- Clinet Log In UI -->
<div ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
    <div>
      <h2 style="color: white; padding-left: 19px;">Pet Service System</h2>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Bookings</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>

      </li>

      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Bookings</a>

      </li>

      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>

      </li>



    </ul>

  </nz-sider>
</div>

<!-- Company Log In UI -->

<div ngIf="isCompanyLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
    <div>
      <h2 style="color: white; padding-left: 19px;">Pet Service System</h2>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Post Service</a>
      <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Services</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Dashboard</a>

      </li>

      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Service</a>

      </li>

      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Services</a>

      </li>

      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>

      </li>

    </ul>

  </nz-sider>
</div>

<router-outlet></router-outlet>
