<div class="bg" *ngIf="ad">
  <div class="ad-details-container">
    <div class="top-section">
      <div class="ad-detail">
        <div nz-col nzSpan="8">
          <img class="profile" [src]="avatarUrl" alt="profile" />
        </div>
        <div nz-col nzSpan="16">
          <h2 class="service-name">
            {{ ad.serviceName }}
          </h2>
          <h5 class="price">
            Price: <b>{{ ad.price }}</b>
          </h5>
          <h5 class="description">
            Description: <b>{{ ad.description }}</b>
            <br>
            <br>
            Company Name: <b>{{ ad.companyName }}</b>
          </h5>
        </div>
      </div>
    </div>

    <!-- Book Service Card -->
    <div class="book-service">
      <div nz-row>
        <h2>Book Service</h2>
      </div>

      <form nz-form [formGroup]="validateForm">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="bookDate">Date of Booking</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-date-picker formControlName="bookDate" name="bookDate" id="bookDate"
                  nzPlaceHolder="Select date"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <button nz-button [nzType]="'primary'" (click)="bookService()" [disabled]="validateForm.invalid">Book</button>
      </form>
    </div>

    <!-- Reviews Section -->
    <div class="review-section">
      <div class="row-card" *ngFor="let review of reviews">
        <nz-card [nzBordered]="false" nzTitle="{{ review.userName }}">
          <h3>{{ review.clientName }}</h3>
          <p>Review: <strong>{{ review.review }}</strong></p>
          <p>Rating: <strong><nz-rate disabled [ngModel]="review.rating"></nz-rate></strong></p>
          <p>Posted On: <strong>{{ review.reviewDate }}</strong></p>
        </nz-card>
      </div>
    </div>
  </div>
</div>
